p{
  font-family: Roboto, Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

body{
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(245, 245, 245);
}

.duration{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 4px;
  border-radius: 2px;
}